.contenedor-detail {
    display: flex;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    border: solid 1px #eee;
    flex-wrap: wrap;
}

.contenedor-detail div {
    width: 50%;
    text-align: center;
}

.contenedor-detail img {
    width: 100%;
    max-width: 500px;
    min-width: 150px;
}

@media screen and (max-width: 500px) {
    .contenedor-detail div {
        width: 100%;
    }
}